node_modules/
bun.lock
test-output/

packages/kagi/output/
packages/kagi/storage/session.json

skills/pi-skills

pi-session-*

.claude-trace

agent-stuff/
bin/
vendor/*
!vendor/effect-smol/
!vendor/pi-mono/
!vendor/agent-stuff/
!vendor/ast-grep/
!vendor/effect-language-service/

*.mp4
prompt.md
